@import 'ember-cli-bootstrap-4/bootstrap';

body {
  margin: 0 auto;
  padding-bottom: 55px;
}

label {
  display: block;
}

select,
input {
  width: 95px;
}

.hide {
  display: inherit;
}

@media (max-width: 575.98px) {
  .hide {
    display: none;
  }
}

.form-group {
  padding: 0 5px;
}

.normal-height {
  line-height: normal;
}

.barcode {
  padding: 5px;
  text-align: center;
}
.params {
  padding-left: 35px;
}

.github {
  padding: 10px;
  padding-right: 20px;
}
