<header class="navbar navbar-expand-lg bg-primary text-white">
  <a href="#" class="navbar-brand text-white">
    ember-cli-barcode
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"></ul>
    v
    {{this.appVersion}}
    <a href="https://github.com/maxwondercorn/ember-cli-barcode">
      <img
        class="github"
        alt="presentation"
        src="assets/images/GitHub-Mark-Light-32px.png"
      />
    </a>
  </div>
</header>
{{outlet}}